html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.container {
    max-width: 1400px;
}

.navbar {
    background-color: transparent !important;
}

.carousel {
    display: flex;
    justify-content: center !important;
    min-width: 100%;
    background: #fff;
}

.navbar {
    position: fixed;
    top: 0px;
    z-index: 10;
    background: #fff;
    width: 100%;
}

.descr {
    background-color: black;
    min-width: 100%;
}

h2 {
    color: white;
    max-width: 100%;
}

div .card {
    min-height: 100%;
}

.card-img-top {
    max-height: 200px !important;
    height: auto;
    object-fit: cover;
    width: 100%;    
}

.quienes .card-body {
    background-color: black;
    color: white;
}

.desta .card-title {
    background-color: rgb(12, 202, 239);
    color: white;
}

.desta .card-body {
    background-color: rgb(12, 202, 239);
    color: white;
}

.action-bar {
    background-color: black;
    color: white;
}

.unic {
    background-color: rgb(12, 202, 239);
}

footer {
    background-color: rgb(12, 202, 239);
    color: white;
}

footer a {
    color: white;
}

/* color: rgb(12, 202, 239) */
.light {
    font-weight: 300;
}

.medium {
    font-weight: 400;
}

.bold {
    font-weight: 500;
}

/* font-family: 'Raleway', sans-serif; 300 400 500 */

